<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="/products/<%=result.id%>/add">Add Product</a></button><br><br>
    <table border="1">
        <thead>
            <th>No</th>
            <th>Nama Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
        </thead>
        <tbody>
            <%result.Products.forEach(el => {%>
                <tr>
                    <td><%=el.id%></td>
                    <td><%=el.name%></td>
                    <td><%=el.description%></td>
                    <td><%=el.price%></td>
                    <td><%=el.Category.name%></td>
                    <td><button><a href="/products/<%=result.id%>/edit/<%=el.id%>">Edit Product</a></button></td>
                    <td><button><a href="/products/<%=result.id%>/delete/<%=el.id%>">Delete Product</a></button></td>
                </tr>
            <%});%>
        </tbody>
    </table> 
</body>
</html>